/.idea/shelf/Uncommitted_changes_before_Update_at_28_11_22,_17_51_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_28_11_22__17_51__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_28_11_22,_17_51_[Changes]/shelved.patch
/.idea/jsLinters/eslint.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_04_04_2023__12_46__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_04_04_2023,_12_46_[Changes]/shelved.patch
/.idea/inspectionProfiles/Project_Default.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_04_04_2023,_12_46_[Changes]/shelved.patch
