/.idea/shelf/Uncommitted_changes_before_Update_at_28_11_22,_17_51_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_28_11_22__17_51__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_28_11_22,_17_51_[Changes]/shelved.patch
