:root {
    --color-1: #173F5F;
    --color-2: #20639B;
    --color-3: #3CAEA3;
    --color-4: #F6D55C;
    --color-5: #ED553B;
}

body {
    background-color: white;
    color: black;
    font-family: 'Roboto';
    font-weight: bold;
}

html, body {
    height: 98%;
}

[contenteditable="true"].input {
    white-space: nowrap;
    width: auto;
    height: 20px;
    overflow: hidden;
    outline: none;
} 
[contenteditable="true"].input br {
    display:none;

}
[contenteditable="true"].input * {
    display:inline;
    white-space:nowrap;
}