body {
    background-color: #ccdcd6;
    color: black;
    height: 95vh;
    margin: 0;
    padding: 5px;
}

.line {
    margin-right: 10px;
    float: left;
}

[contenteditable="true"].input {
    white-space: nowrap;
    width: auto;
    height: 20px;
    overflow: hidden;
    outline: none;
} 
[contenteditable="true"].input br {
    display:none;

}
[contenteditable="true"].input * {
    display: inline;
    white-space: nowrap;
}
